.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
}

.section span {
  color: #8939ef;
}

.section h1 {
  color: #d8d8d8;
}

.section p {
  color: #d8d8d8;
  font-size: 2vw;
}

.content {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  background-color: #080013;
  min-height: 100vh;
  overflow: hidden;
  padding: 2%;
}

.experience {
  display: flex;
  flex-direction: column;
  background-color: #080013;
  min-height: 100vh;
  overflow: hidden;
  padding: 2%;
}

.destaque {
  color: #8939ef
}

.content p {
  color: #d8d8d8;
  font-size: 2vw;
  font-weight: normal;
}

.content span {
  color: #8939ef;
  font-weight: bold;
}

.conhecimentos_Container {
  height: 80%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  width: 22vw;
  height: 27vw;
  border-radius: 16px;
  border: 2px solid #8939ef;
  cursor: pointer;
  box-shadow: 0 0 20px 10px rgba(255,255,255,0.09);
}

.imageContainer {
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.imageContainer h2 {
  justify-content: center;
  color: #d8d8d8;
}

.icon {
  width: 30vw;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3em;
}

.text h1 {
  color: #d8d8d8;
  font-size: 4vw;
  font-weight: bold;
}

.text h2 {
  color: #d8d8d8;
}

.know {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2%;
}

.know h1 {
  font-size: 4vw;
  font-weight: bold;
  margin-top: 3vh;
}

.know h2 {
  font-size: 2.5vw;
  font-weight: bold;
}

.know p {
  width: 80%;
  text-align: justify;
  font-size: 1.3vw;
  margin-bottom: 50px;
}

.title {
  font-size: 4vw;
  font-weight: bold;
  color: #d8d8d8;
}

.projetos_Container {
  display: flex;
  flex-direction: column;
  background-color: #080013;
  min-height: 100vh;
  overflow: hidden;
  padding: 2%;
}

.projetos_itens {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
