.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: row;
    padding-right: 2em;
    text-align: right;
}

.section_2 {
    display: flex;
    flex-direction: row;
    padding-right: 2em;
    text-align: center;
}

.section span{
color: #FF3D00;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-color: #161616;
}

.content_color2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #262626;
}

.especializacao {
    margin-top: 1em;
    color: #FF3D00;
    font-size: 20px;
}

.image {
    width: 329px;
    height: auto;
    border-radius: 16px;
    box-shadow: -4px 3px 8px #0c0c0c;
    border: 2px solid #D8D8D8;
}

.icon {
    width: 512px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3em;
}

.text h1{
    color: #D8D8D8;
    font-size: 80px;
    font-weight:bold;
}

.aboutMe{
    color: #D8D8D8;
    flex-direction: column;
    justify-self: center;
    margin-right: 100px;
}

.aboutMe h1 {
    font-size: 40px;
    font-weight: bold;
    width: 500px;
    margin-top: 30px;
}

.aboutMe h2 {
    font-size: 21px;
    font-weight: normal;
}

.aboutMe p {
    width: 500px;
    text-align: justify;
    margin-bottom: 50px;
}

.title {
    font-size: 80px;
    font-weight: bold;
    color: #FF3D00;
}