.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #080013;
}

.cabecalho {
    display: flex;
    height: 30vh;
    flex-direction: row;
    background-color: #130e2d;
    align-items: center;
    padding: 2em;
}

.cabecalho h1 {
    color: #D8D8D8;
    font-size: 5vw;
}

.cabecalho p {
    color: #D8D8D8;
    font-size: 1.3vw;
    width: 70%;
    text-align: justify;
}

.titulo {
    flex-direction: column;
}

.projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media(max-width: 450px) {
    .cabecalho h1 {
        font-size: 40px;
    }

    .cabecalho p {
        color: #D8D8D8;
        font-size: 20px;
        width: 90%;
    }
}